{{#if visible}}
  {{#liquid-tether
    to=position
    target=target
    attachment=attachment
    targetAttachment=targetAttachment
    offset=offset
    targetOffset=targetOffset
    class="popover"
    tetherClass="popover-tether"
    overlayClass="popover-overlay"
  }}
    <div class='frost-popover {{position}}'>
      <div class='container'>
        {{yield (action 'close')}}
      </div>
    </div>
  {{/liquid-tether}}
{{/if}}